# sudo cp noah.service /etc/systemd/system/noah.service
# sudo systemctl daemon-reload 
# sudo systemctl enable noah
# sudo journalctl -u noah.service
# sudo journalctl -u noah.service -f

[Unit]
Description=Noah Agent
Documentation="https://aid.run"
After=
Wants=

[Service]
User=root
Group=root
WorkingDirectory=/opt/noah/
ExecStart=/opt/noah/noah run
Restart=always
#Restart=on-failure
RestartSec=20
KillSignal=SIGTERM
TimeoutStopSec=20
SendSIGKILL=yes
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
