# sudo cp noah.service /etc/systemd/system/noah.service
# sudo systemctl daemon-reload 
# sudo systemctl enable noah

[Unit]
Description=Noah Agent
After=
Wants=

[Service]
User=root
Group=root
ExecStart=/srv/noah/bin/noah run
Restart=always
RestartSec=20
KillSignal=SIGTERM
TimeoutStopSec=20
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
