<?xml version="1.0" encoding="UTF-8"?>
<!-- cp io.airdb.noah.plist /Library/LaunchDaemons/io.airdb.noah.plist -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.airdb.noah</string>
	<key>RunAtLoad</key>
	<false/>
	<key>StartInterval</key>
	<integer>120</integer>

	<key>ProgramArguments</key>
        	<array>
        	    <string>/opt/noah/bin/noah-darwin</string>
        	    <string>run</string>
        	</array>
</dict>
</plist>
